<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
	<div class ="field">
		<%= f.label :password_confirmation, "Password Confirmation" %> <br />
		<%= f.password_field :password_confirmation %>
	</div>
  <div class="field">
    <%= f.label "What do you want to be called?" %><br />
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<%= f.label "What units do you work in?" %><br />
		<%= f.radio_button(:metric, 0) %> Kilograms
		<%= f.radio_button(:metric, 1) %> Pounds
	  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
