<p id="notice"><%= notice %></p>
<% content_for :head do %>
	<%= javascript_include_tag 'weight' %>
<% end %>
<%= render '/shared/weight' %>
<%= render '/shared/user_weight' %>
<%= render '/shared/weight_chart' %>

<br/>
