<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> </title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<script src="/assets/highcharts.js?body=1">
			$(function () { 
				var weightchart = new Highcharts.Chart({
					chart: {
						renderTo: "weight_chart",
						type: 'line'
					},
					title: {
						text: 'weight loss history'
					},
					xAxis: {
						type: 'datetime',
						dateTimeLabelFormats: {
							day: '%e %b'
						}
					},
					yAxis: {
						title: {
							text: 'Weight'
						}
					},
					series: [{
						name: 'Weight loss history',
						data: [[Date.UTC(2013, 1, 1), 87.2],[Date.UTC(2013, 0, 1), 90.2]]
					}]
				});
			});
		</script>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class ="round">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %> </div>
				<% end %>
				<%= yield %>
			</section>
		<%= render 'layouts/footer' %>
		</div> 
	</body>
</html>
